<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
    >
    <logging>
        <log type="coverage-html" target="./tests/coverage" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="./tests/coverage/coverage.xml"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="json" target="./tests/coverage/logfile.json"/>
        <log type="tap" target="./tests/coverage/logfile.tap"/>
        <log type="junit" target="./tests/coverage/logfile.xml"/>
        <log type="testdox-html" target="./tests/coverage/testdox.html"/>
        <log type="testdox-text" target="./tests/coverage/testdox.txt"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">tests</directory>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="The Iconic Name Parser Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
